Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md,ts,yml,yaml}": "prettier --write"
}

[api] Add fulfillments action to FulfillmentOrder resource
  README.md
  index.d.ts
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/res/fulfillments.json
  test/fixtures/fulfillment-order/res/index.js
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

review: revert check for all errors
  index.js
Due: eslint --fix

review: guard to check shopify errors array on 2xx responses
  index.js
Due: eslint --fix

refactor: remove unused falsy checks
  index.js
Due: eslint --fix

[ts] fix IOrderDiscountCode typing
  index.d.ts
Due: prettier --write

[fix] Ensure that response.body.errors is an array (#564)
  index.js
Due: eslint --fix

[ts] Fix amount type (#565)
  index.d.ts
Due: prettier --write

[api] Introduce the hooks option (#560)
  README.md
  index.d.ts
  index.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

[fix] Ensure that error.response.body is truthy
  index.js
Due: eslint --fix

[dist] 3.12.0
  package.json
Due: prettier --write

Fix got types to properly reference the hooks type
  index.d.ts
Due: prettier --write

Add a light test suite for the typescript types
  .github/workflows/ci.yml
  index.test-d.ts
  package.json
Due: prettier --write

[fix] Fix got types to properly reference the hooks type
  index.d.ts
Due: prettier --write

[test] Add a light test suite for the typescript types
  .github/workflows/ci.yml
  index.test-d.ts
  package.json
Due: prettier --write

[ts] move index.d.ts and index.test-d.ts to the types folder
  package.json
  types/index.d.ts
  types/index.test-d.ts
Due: prettier --write

[dist] 3.12.1
  package.json
Due: prettier --write

Update fulfillment order type
  types/index.d.ts
Due: prettier --write

Update types/index.d.ts
  types/index.d.ts
Due: prettier --write

fulfillment_holds prop is an array
  types/index.d.ts
Due: prettier --write

Fix lint errors
  types/index.d.ts
Due: prettier --write

[ts] Add missing properties to IFulfillmentOrder (#572)
  types/index.d.ts
Due: prettier --write

delivery_method can be null
  types/index.d.ts
Due: prettier --write

[ts] Fix delivery_method type (#574)
  types/index.d.ts
Due: prettier --write

[ts] Fix up IShop interface
  types/index.d.ts
Due: prettier --write

[dist] 3.12.2
  package.json
Due: prettier --write

Update index.js
  index.js
Due: eslint --fix

Adds missing `FulfillmentOrderStatus`es
  types/index.d.ts
Due: prettier --write

[ts] Add missing statuses (#591)
  types/index.d.ts
Due: prettier --write

[dist] 3.12.3
  package.json
Due: prettier --write

[ts] Add admin_graphql_api_id to ts types
  types/index.d.ts
Due: prettier --write

Update metafield.js
  resources/metafield.js
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

add to ts
  types/index.d.ts
Due: prettier --write

format
  resources/metafield.js
Due: eslint --fix

create new method
  README.md
  resources/metafield.js
  types/index.d.ts
Due: eslint --fix, prettier --write

redo
  resources/metafield.js
Due: eslint --fix

add test
  test/metafield.test.js
Due: eslint --fix

fix?
  test/metafield.test.js
Due: eslint --fix
