Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update index.js
  index.js
Due: eslint --fix

Update types/index.d.ts
  types/index.d.ts
Due: prettier --write

Update types/index.test-d.ts
  types/index.test-d.ts
Due: prettier --write

[api] Introduce the agent option (#643)
  README.md
  index.js
  types/index.d.ts
  types/index.test-d.ts
Due: eslint --fix, prettier --write

[minor] Fix nits
  README.md
  index.js
Due: eslint --fix, prettier --write

[dist] 3.13.0
  package.json
Due: prettier --write

Add missing customer field in type definition
  types/index.d.ts
Due: prettier --write

[ts] Add email_marketing_consent to I{,Order}Customer (#646)
  types/index.d.ts
Due: prettier --write

[lint] Fix lint error
  types/index.d.ts
Due: prettier --write

[dist] 3.13.1
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

[lint] Fix lint error
  README.md
Due: prettier --write

[pkg] Update eslint to version 9.2.0
  .eslintrc.yaml
  .lintstagedrc.json
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

[ci] Test on node 22
  .github/workflows/ci.yml
Due: prettier --write

Fixed type of ICustomer.multipass_identifier
  types/index.d.ts
Due: prettier --write

[ts] Update definitions for I{Cre,Upd}ateArticle (#653)
  types/index.d.ts
Due: prettier --write

[ts] Fix multipass_identifier type (#654)
  types/index.d.ts
Due: prettier --write

[dist] 3.13.2
  package.json
Due: prettier --write

Add current_quantity to IOrderLineItem
  types/index.d.ts
Due: prettier --write

[ts] Add current_quantity to IOrderLineItem interface (#656)
  types/index.d.ts
Due: prettier --write

[ts] Add discount_allocations to IFulfillmentLineItem interface
  types/index.d.ts
Due: prettier --write

[dist] 3.13.3
  package.json
Due: prettier --write

Add discount webhook types
  types/index.d.ts
Due: prettier --write

[ts] Add discount webhook topics (#659)
  types/index.d.ts
Due: prettier --write

[dist] 3.13.4
  package.json
Due: prettier --write

feat: implement, prototype, tests, resources
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/hold.json
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/res/hold.json
  test/fixtures/fulfillment-order/res/index.js
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

feat(fulfillment-order): add hold method
  resources/fulfillment-order.js
Due: eslint --fix

docs: add types
  types/index.d.ts
Due: prettier --write

add refund/success to webhook topics
  types/index.d.ts
Due: prettier --write

Apply suggestions from code review
  resources/fulfillment-order.js
  types/index.d.ts
Due: eslint --fix, prettier --write

fixup! Apply suggestions from code review
  README.md
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/index.js
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[api] Add hold action to FulfillmentOrder resource (#660)
  README.md
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/hold.json
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/res/hold.json
  test/fixtures/fulfillment-order/res/index.js
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[api] Add releaseHold action to FulfillmentOrder resource
  README.md
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/res/index.js
  test/fixtures/fulfillment-order/res/release-hold.json
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[minor] Fix nits
  resources/fulfillment-order.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{json,md,ts,yml,yaml}
