Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[pkg] Update nock to version 13.0.1
  package.json
Due: prettier --write

Adding optional owner_resource and owner_id to the create metafield object
  index.d.ts
  test/fixtures/metafield/req/create.json
  test/fixtures/metafield/req/update.json
Due: prettier --write

[ts] Rename moneyset types, used outside of adjustments
  index.d.ts
Due: prettier --write

[ts] Add order lineitem discount amount_set to types
  index.d.ts
Due: prettier --write

[minor] Add restore rate to the throttle state of GraphQL requests
  index.d.ts
  index.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

[fix] Add redirect hook for authorized redirect when using apKey/password auth
  index.js
Due: eslint --fix

[fix] Use the Authorization header instead of username and password
  index.js
  test/common.js
  test/shopify.test.js
Due: eslint --fix

[dist] 3.4.0
  package.json
Due: prettier --write

[ts] Fix duplicate identifier error
  index.d.ts
Due: prettier --write

[dist] 3.4.1
  package.json
Due: prettier --write

[ts] Fix definition of shopify.on()
  index.d.ts
Due: prettier --write

[dist] 3.4.2
  package.json
Due: prettier --write

[test] Test updateGraphqlLimits with undefined throttleStatus
  test/shopify.test.js
Due: eslint --fix

[ts] Add missing prerequisite types to IPriceRule
  index.d.ts
Due: prettier --write

[dist] 3.4.3
  package.json
Due: prettier --write

[pkg] Replace nyc with c8
  .gitignore
  .travis.yml
  package.json
Due: prettier --write

add missing type signature for orders method to customer object
  index.d.ts
Due: prettier --write

[ts] Add missing signature for orders method (#407)
  index.d.ts
Due: prettier --write

[doc] Add missing params argument to orders method
  README.md
Due: prettier --write

[dist] 3.4.4
  package.json
Due: prettier --write

[fix] aded missing Accept header to baseHeaders
  index.js
Due: eslint --fix

[test] testing Accept header is application/json in all requests
  test/shopify.test.js
Due: eslint --fix

[api] Add createV2 action to Fulfillment resource
  README.md
  resources/fulfillment.js
  test/fixtures/fulfillment/req/createV2.json
  test/fixtures/fulfillment/req/index.js
  test/fixtures/fulfillment/res/createV2.json
  test/fixtures/fulfillment/res/index.js
  test/fulfillment.test.js
Due: eslint --fix, prettier --write

[ts] Add type definition for fulfillment.createV2 #419
  index.d.ts
Due: prettier --write

[fix] Typo #419
  test/fulfillment.test.js
Due: eslint --fix

[fix] Line length #419
  resources/fulfillment.js
Due: eslint --fix

[api] Add createV2 action to Fulfillment resource (#419)
  README.md
  index.d.ts
  resources/fulfillment.js
  test/fixtures/fulfillment/req/createV2.json
  test/fixtures/fulfillment/req/index.js
  test/fixtures/fulfillment/res/createV2.json
  test/fixtures/fulfillment/res/index.js
  test/fulfillment.test.js
Due: eslint --fix, prettier --write

[minor] Fix nit
  resources/fulfillment.js
Due: eslint --fix

[dist] 3.5.0
  package.json
Due: prettier --write

[ts] Fix variant / checkout line item compare_at_price: may be null
  index.d.ts
Due: prettier --write

[test] Rename test/currency.js to test/currency.test.js
  test/currency.test.js
Due: eslint --fix

[test] Rename test/discount-code-creation-job.js
  test/discount-code-creation-job.test.js
Due: eslint --fix

[test] Rename test/resource-feedback.js
  test/resource-feedback.test.js
Due: eslint --fix

[ts] Fix compare_at_price type (#420)
  index.d.ts
Due: prettier --write

[dist] 3.5.1
  package.json
Due: prettier --write

[fix] fix inventory item interface types;
  index.d.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{json,md,ts,yml,yaml}
