Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[doc] Update Shopify URLs to avoid redirects
  README.md
Due: prettier --write

feat: add an option for automatic retries when hitting rate limits
  README.md
  index.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

Switch to using got request hooks for limit tracking and error reporting
  index.js
Due: eslint --fix

[api] Introduce the `maxRetries` option (#541)
  README.md
  index.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

[minor] Fix nits
  README.md
  index.js
  test/common.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

[dist] 3.10.0
  package.json
Due: prettier --write

[ts] Add maxRetries to IPublicShopifyConfig
  index.d.ts
Due: prettier --write

[ts] Add maxRetries to IPrivateShopifyConfig
  index.d.ts
Due: prettier --write

[ts] Add maxRetries to I{Private,Public}ShopifyConfig (#546)
  index.d.ts
Due: prettier --write

[dist] 3.10.1
  package.json
Due: prettier --write

Ensure that body extensions aren't inspected unless the body is an array
  index.js
  test/shopify.test.js
Due: eslint --fix

[fix] Inspect extensions only if body.errors is an array (#548)
  index.js
  test/shopify.test.js
Due: eslint --fix

[minor] Fix nit
  index.js
Due: eslint --fix

[dist] 3.10.2
  package.json
Due: prettier --write

[api] Add setFulfillmentOrdersDeadline action to FulfillmentOrder
  README.md
  index.d.ts
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/req/set-fulfillment-orders-deadline.json
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

[api] Add DisputeEvidence resource
  README.md
  index.d.ts
  mixins/shopify-payments-child.js
  resources/dispute-evidence.js
  resources/index.js
  test/dispute-evidence.test.js
  test/fixtures/dispute-evidence/index.js
  test/fixtures/dispute-evidence/req/index.js
  test/fixtures/dispute-evidence/req/update.json
  test/fixtures/dispute-evidence/res/get.json
  test/fixtures/dispute-evidence/res/index.js
  test/fixtures/dispute-evidence/res/update.json
Due: eslint --fix, prettier --write

[api] Add DisputeFileUpload resource
  README.md
  index.d.ts
  resources/dispute-file-upload.js
  resources/index.js
  test/dispute-file-upload.test.js
  test/fixtures/dispute-file-upload/index.js
  test/fixtures/dispute-file-upload/req/create.json
  test/fixtures/dispute-file-upload/req/index.js
  test/fixtures/dispute-file-upload/res/create.json
  test/fixtures/dispute-file-upload/res/get.json
  test/fixtures/dispute-file-upload/res/index.js
Due: eslint --fix, prettier --write

[ts] Fix misleading comment
  index.d.ts
Due: prettier --write

[dist] 3.11.0
  package.json
Due: prettier --write

add missing webhook topics
  index.d.ts
Due: prettier --write

[ts] Add missing webhook topics (#550)
  index.d.ts
Due: prettier --write

[dist] 3.11.1
  package.json
Due: prettier --write

fix retryable status codes not respecting max retries option
  index.js
  test/shopify.test.js
Due: eslint --fix

[fix] Respect the maxRetries option (#554)
  index.js
  test/shopify.test.js
Due: eslint --fix

[minor] Fix nits
  index.js
  test/shopify.test.js
Due: eslint --fix

[dist] 3.11.2
  package.json
Due: prettier --write

Add missing values to FulfillmentEventStatus
  index.d.ts
Due: prettier --write

Update index.d.ts
  index.d.ts
Due: prettier --write

[ts] Add missing valuse to fulfillment event status enum (#555)
  index.d.ts
Due: prettier --write

[dist] 3.11.3
  package.json
Due: prettier --write

Add support for passing request lifecycle hooks down to got
  README.md
  index.d.ts
  index.js
  package.json
  test/shopify.test.js
Due: eslint --fix, prettier --write

[doc] Fix CI badge URL
  README.md
Due: prettier --write

graphql: capture error for HTTP responses
  index.js
Due: eslint --fix

lint: ternary formatting
  index.js
Due: eslint --fix

[ts] Add initial_value to IGiftCard interface (#561)
  index.d.ts
Due: prettier --write

[api] Add cancelV2 action to Fulfillment resource
  README.md
  index.d.ts
  resources/fulfillment.js
  test/fulfillment.test.js
Due: eslint --fix, prettier --write

[api] Add fulfillments action to FulfillmentOrder
  README.md
  index.d.ts
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/res/fulfillments.json
  test/fixtures/fulfillment-order/res/index.js
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{json,md,ts,yml,yaml}
