Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md,ts,yml,yaml}": "prettier --write"
}

[api] Add reschedule action to FulfillmentOrder resource
  README.md
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/req/reschedule.json
  test/fixtures/fulfillment-order/res/index.js
  test/fixtures/fulfillment-order/res/reschedule.json
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[api] Remove the params argument from FulfillmentOrder#cancel()
  README.md
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/req/cancel.json
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/res/cancel.json
  test/fulfillment-order.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[dist] 3.14.0
  package.json
Due: prettier --write

[ts] Add confirmation_number to IOrder interface
  types/index.d.ts
Due: prettier --write

[dist] 3.14.1
  package.json
Due: prettier --write

resolves issue #669
  index.js
Due: eslint --fix

[fix] Always set the Content-Type header to application/json
  index.js
Due: eslint --fix

[dist] 3.14.2
  package.json
Due: prettier --write

allows users to provide a hook when graphql protected customer data errors are thrown
  index.js
  test/shopify.test.js
  types/index.d.ts
Due: eslint --fix, prettier --write

[pkg] Update eslint-config-prettier to version 10.1.1
  package.json
Due: prettier --write

[pkg] Update globals to version 16.0.0
  package.json
Due: prettier --write

allow for afterResponse hooks to run before graphql errors are thrown
  index.js
  test/shopify.test.js
Due: eslint --fix

[minor] Add error-throwing hook last (#673)
  index.js
  test/shopify.test.js
Due: eslint --fix

[test] Simplify test
  test/shopify.test.js
Due: eslint --fix

[dist] 3.15.0
  package.json
Due: prettier --write
