Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[ts] Add ProductListing#count() params argument (#485)
  README.md
  index.d.ts
Due: prettier --write

update index.d.ts: 2021-04 order api additions
  index.d.ts
Due: prettier --write

[ts] Add missing properties to IOrder interface (#486)
  index.d.ts
Due: prettier --write

Revert "[ts] Add ProductListing#count() params argument (#485)"
  README.md
  index.d.ts
Due: prettier --write

[dist] 3.6.12
  package.json
Due: prettier --write

[pkg] Update lint-staged to version 11.0.0
  package.json
Due: prettier --write

adds Dimension Software's Passwordless Login
  README.md
Due: prettier --write

[doc] Add Dimension Software's Passwordless Login (#494)
  README.md
Due: prettier --write

Added `tender_transactions/create`
  index.d.ts
Due: prettier --write

[ts] Add tender_transactions/create topic (#495)
  index.d.ts
Due: prettier --write

[ts] Sort webhook topics alphabetically
  index.d.ts
Due: prettier --write

[dist] 3.6.13
  package.json
Due: prettier --write

bug: removed force_ssl according to new release 2021-07
  index.d.ts
Due: prettier --write

fix: made force_ssl optional
  index.d.ts
Due: prettier --write

[ts] Make force_ssl optional (#497)
  index.d.ts
Due: prettier --write

[dist] 3.6.14
  package.json
Due: prettier --write

[test] Fix nits
  test/shopify.test.js
Due: eslint --fix

Add orderEdit webhook topic
  index.d.ts
Due: prettier --write

[ts] Add orders/edited topic (#503)
  index.d.ts
Due: prettier --write

[api] Add ability to use a custom JSON parser and serializer
  .eslintrc.yaml
  README.md
  index.js
  package.json
  test/shopify.test.js
Due: eslint --fix, prettier --write

[api] Add ability to use a custom JSON parser and serializer (#502)
  .eslintrc.yaml
  README.md
  index.js
  package.json
  test/shopify.test.js
Due: eslint --fix, prettier --write

[dist] 3.7.0
  package.json
Due: prettier --write

[ts] Add type to IMetafield interface
  index.d.ts
Due: prettier --write

[dist] 3.7.1
  package.json
Due: prettier --write

[minor] Remove unnecessary property lookup
  resources/index.js
Due: eslint --fix

[ts] Add id to IDraftOrderLineItem interface
  index.d.ts
Due: prettier --write

[dist] 3.7.2
  package.json
Due: prettier --write

[ci] Update coverallsapp/github-action action to version 1.1.3
  .github/workflows/ci.yml
Due: prettier --write

add new webhook types from 2021-10 update
  index.d.ts
Due: prettier --write

Update index.d.ts
  index.d.ts
Due: prettier --write

[ts] Add new webhook topics (#512)
  index.d.ts
Due: prettier --write

[dist] 3.7.3
  package.json
Due: prettier --write

actual query cost and requested query cost are now returned with the callGraphqlLimits event
  index.js
  test/shopify.test.js
Due: eslint --fix

removed some logging and added params
  index.js
Due: eslint --fix

updated ts definitions and just passing cost
  index.d.ts
  index.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

Update index.js
  index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{json,md,ts,yml,yaml}
