Repository MONEI/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fixed assign travis issue
  resources/fulfillment-order.js
Due: eslint --fix

prettier fixes
  resources/fulfillment-order.js
Due: eslint --fix

Prettier fixes
  resources/fulfillment-order.js
  test/common.js
  test/fixtures/fulfillment-order/req/index.js
Due: eslint --fix

Prettier fixes - again!
  test/fulfillment-order.test.js
Due: eslint --fix

Prettier fixtures fixes
  test/fixtures/fulfillment-order/res/cancel.json
  test/fixtures/fulfillment-order/res/close.json
  test/fixtures/fulfillment-order/res/get.json
  test/fixtures/fulfillment-order/res/list.json
  test/fixtures/fulfillment-order/res/move.json
Due: prettier --write

[api] Add FulfillmentOrder resource
  README.md
  index.d.ts
  resources/fulfillment-order.js
  resources/index.js
  test/fixtures/fulfillment-order/index.js
  test/fixtures/fulfillment-order/req/cancel.json
  test/fixtures/fulfillment-order/req/close.json
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/req/move.json
  test/fixtures/fulfillment-order/res/cancel.json
  test/fixtures/fulfillment-order/res/close.json
  test/fixtures/fulfillment-order/res/get.json
  test/fixtures/fulfillment-order/res/index.js
  test/fixtures/fulfillment-order/res/list.json
  test/fixtures/fulfillment-order/res/move.json
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

[api] Add FulfillmentOrder resource (#341)
  README.md
  index.d.ts
  resources/fulfillment-order.js
  resources/index.js
  test/fixtures/fulfillment-order/index.js
  test/fixtures/fulfillment-order/req/cancel.json
  test/fixtures/fulfillment-order/req/close.json
  test/fixtures/fulfillment-order/req/index.js
  test/fixtures/fulfillment-order/req/move.json
  test/fixtures/fulfillment-order/res/cancel.json
  test/fixtures/fulfillment-order/res/close.json
  test/fixtures/fulfillment-order/res/get.json
  test/fixtures/fulfillment-order/res/index.js
  test/fixtures/fulfillment-order/res/list.json
  test/fixtures/fulfillment-order/res/move.json
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

[dist] 3.2.0
  package.json
Due: prettier --write

[minor] Use spread syntax instead of _.assign() where possible
  index.js
  mixins/base-child.js
  mixins/base.js
  mixins/shopify-payments.js
  resources/access-scope.js
  resources/fulfillment-event.js
  test/shopify.test.js
Due: eslint --fix

[ts] Fix event parameter type
  index.d.ts
Due: prettier --write

[dist] 3.2.1
  package.json
Due: prettier --write

[doc] Clarify which version supports cursor-based pagination
  README.md
Due: prettier --write

[pkg] Update nock to version 12.0.2
  package.json
Due: prettier --write

[api] Add CancellationRequest resource
  README.md
  index.d.ts
  resources/cancellation-request.js
  resources/index.js
  test/cancellation-request.test.js
  test/fixtures/cancellation-request/index.js
  test/fixtures/cancellation-request/res/accept.json
  test/fixtures/cancellation-request/res/create.json
  test/fixtures/cancellation-request/res/index.js
  test/fixtures/cancellation-request/res/reject.json
Due: eslint --fix, prettier --write

[api] Add FulfillmentRequest resource
  README.md
  index.d.ts
  resources/fulfillment-request.js
  resources/index.js
  test/fixtures/fulfillment-request/index.js
  test/fixtures/fulfillment-request/req/create.json
  test/fixtures/fulfillment-request/req/index.js
  test/fixtures/fulfillment-request/res/accept.json
  test/fixtures/fulfillment-request/res/create.json
  test/fixtures/fulfillment-request/res/index.js
  test/fixtures/fulfillment-request/res/reject.json
  test/fulfillment-request.test.js
Due: eslint --fix, prettier --write

[api] Add locationsForMove action to FulfillmentOrder resource
  README.md
  index.d.ts
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/res/index.js
  test/fixtures/fulfillment-order/res/locations-for-move.json
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

[api] Add fulfillmentOrders action to Order resource
  README.md
  index.d.ts
  resources/order.js
  test/fixtures/order/res/fulfillment-orders.json
  test/fixtures/order/res/index.js
  test/order.test.js
Due: eslint --fix, prettier --write

[major] Change FulfillmentOrder.prototype.list() behavior
  README.md
  index.d.ts
  resources/fulfillment-order.js
  test/fixtures/fulfillment-order/res/list.json
  test/fulfillment-order.test.js
Due: eslint --fix, prettier --write

[dist] 3.3.0
  package.json
Due: prettier --write

ICheckout's applied discount property is an object
  index.d.ts
Due: prettier --write

[ts] Fix applied_discount type on ICheckout interface (#363)
  index.d.ts
Due: prettier --write

Added check for graphql extensions.cost.throttleStatus
  index.js
Due: eslint --fix

Update index.js
  index.js
Due: eslint --fix

[ts] Fixes to Order line item and tax line typings
  index.d.ts
Due: prettier --write

Prettier indent fix
  index.js
Due: eslint --fix

[ts] Fix various types (#368)
  index.d.ts
Due: prettier --write

[fix] Exit early if the throttle argument is falsy (#366)
  index.js
Due: eslint --fix

[pkg] Update prettier to version 2.0.2
  .prettierrc.yaml
  package.json
  resources/api-permission.js
  resources/fulfillment-event.js
  resources/product-listing.js
  resources/product-variant.js
  resources/product.js
  resources/user.js
  test/shopify.test.js
Due: eslint --fix, prettier --write

[dist] 3.3.1
  package.json
Due: prettier --write

[ts] Make the params argument optional
  index.d.ts
Due: prettier --write

Add Automatic Retry on Rate Limit Exception
  index.js
Due: eslint --fix

Make 429 Retry Only Apply if Automatic Rate Limiting is Set
  index.js
Due: eslint --fix

Add Unit Tests and Additional Assertion
  index.js
  test/shopify.test.js
Due: eslint --fix

Adding clearer Shopify object instantiation error handling
  index.js
  package.json
Due: eslint --fix, prettier --write

Squash this (accidental prettier upgrade)
  package.json
Due: prettier --write

[pkg] Update got to version 11.1.4
  package.json
Due: prettier --write

[pkg] Update eslint to version 7.0.0
  package.json
  resources/index.js
Due: eslint --fix, prettier --write

[dist] 3.3.2
  package.json
Due: prettier --write

[travis] Add node 14.x to the test matrix
  .travis.yml
Due: prettier --write

[pkg] Update mocha to version 8.0.1
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{json,md,ts,yml,yaml}
